.header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background-color: #ffffff;
  color: #000000;
}

.search-bar {
  display: flex;
  gap: 10px;
}

.search-bar input[type="text"] {
  padding: 5px;
  border: 1px solid #115625;
  border-radius: 5px;
  width: 200px;
}
.sort-dropdown label {
  margin-right: 10px;
  font-weight: bold;
}

.sort-dropdown select {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.company-list {
  padding: 10px;
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
}

.company {
  border: 1px solid #1156257e;
  border-radius: 5px;
  box-shadow: #115625a2;
  padding: 10px;
  text-align: center;
}

.section {
    background-color: #fff;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2,p {
    color: #333;
}


.company img {
  max-width: 100%;
}
.text  {
  display: inline-block;
  color: #115625;
  padding: 10px 10px;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
}
/* Add media queries for responsiveness */
@media screen and (max-width: 768px) {
  .company {
      flex-direction: column;
  }

  .company {
      width: 100%;
  }
}
.company img{
  width: 50%;
}
Link{
  text-align: center;
  color: #115625;
  &:hover {
    font-size: 28px;
    color: #033b1f89;
  }

}

  .loader{
    font-size: 48px;
    color: #0a0a0a;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
  }
  .loader:after{
    content: 'Loading';
    position: relative;
    z-index: 5;
  }
  .loader:before{
    content: '';
    height: 6px;
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(#00ff26 100%, transparent 0) no-repeat;
    background-size: 0% auto;
    animation: 10s lineGrow linear infinite;
  }

  @keyframes lineGrow {to {  background-size: 100% auto}}
  
  .error {
    color: #FF0000;
    font-weight: bold;
    font-size: 18px;
  }

.navbar {
  background-color: #ffffff;
  color: #115625;
  padding: 10px 0;
  margin: 20px;
  text-align: center;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
}

.navbar-item {
  display: inline;
  margin: 0 20px;
}

/* Navbar links */
.navbar-link {
  text-decoration: none;
  color: #000000;
  font-size: 25px;
  transition: color 0.3s;


  &:hover {
    font-size: 28px;
    color: #033b1f89;
    text-decoration: underline;
  }
}


